.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

span1 {
  position: relative;
  font-size: 96px;
  top: 20px;
}

span2 {
  position: relative;
  font-size: 96px;
  top: 80px;
}

span3 {
  margin: 0px 15px;
}

.figure {
  margin-top: 50px;
}