body {
  margin: 0;
}
#red {
    background-color: #ff0000;
    height: 60px;
    width: 100%;
}
#orange {
    background-color: #ffa500;
    height: 350px;
    width: 100%;
}
#yellow {
    background-color: #ffff00;
    height: 320px;
    width: 100%;
}
#green {
    background-color: #008000;
    height: 385px;
    width: 100%;
}
#blue {
    background-color: #0000ff;
    height: 200px;
    width: 100%;
}
#purple {
    background-color: #4b0082;
    height: 200px;
    width: 100%;
}

@media (min-width: 767px) {
    #red {
        background-color: #ff0000;
        height: 60px;
        width: 100%;
    }
    #orange {
        background-color: #ffa500;
        height: 562px;
        width: 100%;
    }
    #yellow {
        background-color: #ffff00;
        height: 282px;
        width: 100%;
    }
    #green {
        background-color: #008000;
        height: 360px;
        width: 50%;
        float: left;
    }
    #blue {
        background-color: #0000ff;
        height: 180px;
        width: 50%;
        float: right;
    }
    #purple {
        background-color: #4b0082;
        height: 180px;
        width: 50%;
        float: right;
    }
}

@media (min-width: 992px) {
    #red {
        background-color: #ff0000;
        height: 60px;
        width: 100%;
    }
    #orange {
        background-color: #ffa500;
        height: 700px;
        width: 50%;
        float: left;
    }
    #yellow {
        background-color: #ffff00;
        height: 350px;
        width: 50%;
        float: right;
    }


    #green {
        background-color: #008000;
        height: 350px;
        width: 25%;
        float: left;
    }
    #blue {
        background-color: #0000ff;
        height: 175px;
        width: 25%;
        float: right;
    }
    #purple {
        background-color: #4b0082;
        height: 175px;
        width: 25%;
        float: right;
    }
}